[Unit]
Description=Listen to netlink events for network interfaces and publish it to Kafka
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/ifwatch publish

[Install]
WantedBy=multi-user.target
